{% extends 'base.html' %}

{% block title %}BlogVerse - Contact Us{% endblock title %}

{% block contactactive %}active{% endblock contactactive %} 

{% block body %}
<div class="container my-3">
    <h3 class="text-center">Contact BlogVerse Admin</h3>
    <form class="my-3" method="post" action="/contact">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Your name here" name = "name" id="name" aria-describedby="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" placeholder="Your email address here" name="email" id="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone No.</label>
            <input type="phone" class="form-control" placeholder="Your phone no. here" name="phone" id="phone">
            <div id="phoneHelp" class="form-text">We'll never share your phone no. with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Describe Your Issue: </label>
            <textarea class="form-control" placeholder="Describe your issue here" name="content" id="content" cols="30" rows="5"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}